[submodule "deps/Simple-Web-Server"]
	path = deps/Simple-Web-Server
	url = https://github.com/eidheim/Simple-Web-Server.git
[submodule "deps/variant"]
    path = deps/variant
    url = https://github.com/mapbox/variant.git
